p{
    font-family: Rubik,  sans-serif;
    font-size: 50px; 
    text-align: center;
    color:cornflowerblue;
    font-weight: 800;
    
    
}

  #pieChart {
    width: 50%;
    max-width: 300px;
    height: 300px;
}

#chartJSOveride {
    display: inline-flex;
    

}



.style1 {
    display: inline-flex; 
    font-family: Rubik,  sans-serif;
     font-weight: 800;
     color:dimgray;
     font-size:50px;
}

#mainRow {
    display: flex;
    align-items: center;
    gap: 40px;
}

#legendSection{
    display: flex;
    flex-direction: column;
}


#legendRow{
    display: flex;
    align-items: center;
    gap: 10px;
}